<!DOCTYPE html>
<html lang="ja">
  <%- include('../ejs-parts/base/_head.ejs') %>
  <body>
    <!-- ヘッダー -->
    <main>
      <div class="concolle">
        <div class="concolle__wrapper">
          <section class="concolle__messge"><%- include('../ejs-parts/common/_message.ejs') %></section>
          <section class="concolle__worries"><%- include('../ejs-parts/common/_worries.ejs') %></section>
          <section class="concolle__charm inner"><%- include('../ejs-parts/common/_charm.ejs') %></section>
          <section class="concolle__flow inner"><%- include('../ejs-parts/common/_flow.ejs') %></section>
          <section class="concolle__question inner"><%- include('../ejs-parts/common/_question.ejs') %></section>
          <section class="concolle__form inner"><%- include('../ejs-parts/common/_form.ejs') %></section>
        </div>
      </div>
    </main>
    <%- include('../ejs-parts/base/_footer.ejs') %>
  </body>
</html>
