<%
<!-- prettier-ignore -->
const items = [
  { type: 'text', isRequired: true, label: "店名・社名" ,id: "company-name" ,placeholder:"例）株式会社コンコレ",annotation:'' },
  { type: 'text', isRequired: false, label: "担当者名" ,id: "name" ,placeholder:"例）山田　花子",annotation:'※姓と名の間に全角スペースを入れてください。' },
  { type: 'text', isRequired: false, label: "担当者名（フリガナ）" ,id: "name-kana" ,placeholder:"例）ヤマダ　ハナコ",annotation:'※姓と名の間に全角スペースを入れ、全角カナでご入力ください。' },
  { type: 'email', isRequired: true, label: "メールアドレス" ,id: "mail" ,placeholder:"例）info@concolle.com",annotation:'' },
  { type: 'tel', isRequired: true, label: "電話番号" ,id: "tell" ,placeholder:"例）0123456789",annotation:'※半角数字でご入力ください。ハイフン(-)は不要です。' },
  { type: 'text', isRequired: true, label: "ご住所" ,id: "address" ,placeholder:"例）東京都渋谷区〇〇",annotation:'' },
  { type: 'url', isRequired: false, label: "URL" ,id: "address" ,placeholder:"例）https://concolle.com",annotation:'' },
];

%>

<section class="concolle-form" id="concolle-form">
  <div class="concolle-form__inner">
    <h2 class="concolle-form__title">
      <img src="../assets/images/common/text-form.png" alt="掲載お申し込み・お問い合わせフォーム" />
    </h2>
    <div class="concolle-form__wrapper">
      <p class="concolle-form__message">
        ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
      </p>
      <form id="apply-form" class="concolle-form__form">
        <div class="concolle-form__group">
          <label class="concolle-form__label">
            <span class="concolle-form__label-required">必須</span>
            <span class="concolle-form__label-text">お問い合わせ種別</span>
          </label>
          <div class="concolle-form__radio-group">
            <label class="concolle-form__radio-item checked">
              <input type="radio" name="inquiry-type" value="application" class="concolle-form__radio-input" checked />
              <span class="concolle-form__radio-label">掲載お申し込み</span>
            </label>
            <label class="concolle-form__radio-item">
              <input type="radio" name="inquiry-type" value="inquiry" class="concolle-form__radio-input" />
              <span class="concolle-form__radio-label">お問い合わせ</span>
            </label>
          </div>
        </div>

        <% items.forEach(item => { %>
        <div class="concolle-form__group">
          <label for="company" class="concolle-form__label">
            <span
              class="concolle-form__label-required concolle-form__label-required--<%= item.isRequired ? 'required' : 'optional' %>"
            >
              <%= item.isRequired ? '必須' : '任意' %>
            </span>
            <span class="concolle-form__label-text"><%= item.label %></span>
          </label>
          <!-- prettier-ignore -->
          <input
            type="<%= item.type %>"
            id="<%= item.id %>"
            name="<%= item.id %>"
            placeholder="<%= item.placeholder %>"
            class="concolle-form__input"
            <%= item.isRequired ? 'required' : '' %>
          />
          <% if (item.annotation) { %>
          <p class="concolle-form__note"><%= item.annotation %></p>
          <% } %>
          <p class="concolle-form__error-message" style="display: none"></p>
        </div>
        <% }) %>
        <div class="concolle-form__group">
          <label for="message" class="concolle-form__label">
            <span class="concolle-form__label-required">必須</span>
            <span class="concolle-form__label-text">ご相談内容</span>
          </label>
          <textarea
            id="message"
            name="message"
            rows="5"
            placeholder="ご質問やご相談内容を入力してください"
            class="concolle-form__input concolle-form__input--textarea"
            required
          ></textarea>
          <p class="concolle-form__note">※お問い合わせ種別にて「お問い合わせ」を選択された方は必ずご入力ください。</p>
        </div>
        <div class="concolle-form__submit"><%- include('../../ejs-parts/common/_common-btn.ejs',{type: 'form'}) %></div>
      </form>
    </div>
  </div>
</section>
